/* место для вашего кода */
.header {
    padding: 92px 50px 96px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__menu_list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 26px;
    font-size: 18px;
    align-items: center;
    justify-content: start;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
    text-underline-offset: 0.25em;
}

.header__logo {
    width: 148px;
    height: 105px;
    align-items: center;
    justify-content: center;
}

.address_header_position {
    justify-self: end;
}

.address {
    max-width: 240px;
    font-size: 18px;
    font-style: normal;
    line-height: 1.5;
}

.header_address {
    text-underline-offset: 0.25em;
    line-height: 1.5;
    list-style: none;
    justify-self: end;
}

 .cover {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: 50% 50%;
    padding: 165px 50px 50px;
    position: relative;
    z-index: -2;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 60%;
    z-index: -1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.286;
}

.title {
    color: white;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.aligned-text {
    display: flex;
    justify-content: flex-start;
}

.aligned-text_center {
    display: flex;
    justify-content: center;
    margin-right: -0.3em;
}

.aligned-text_right {
    display: flex;
    justify-content: end;
    margin-right: -0.3em;
}

.cover__description {
    margin-top: 106px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cover__description-text {
    display: flex;
    align-items: center;
    word-spacing: 0.8em;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
}

.bet-button {
    background-color: transparent;
    border-width: 1px;
    border-color: white;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    padding: 12px 32px 11px 31px;

}

.lots {
    margin-top: 180px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
}

.lots__heading {
    margin-left: 50px;
    margin-bottom: 27px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.card {
    width: 334px;
    height: 596px;
    position: relative;
    color: white;
    padding: 48px 40px;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-size: cover;
    background-position: 50% 50%;
    z-index: -2;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-size: cover;
    background-position: 50% 50%;
    z-index: -2;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-size: cover;
    background-position: 50% 50%;
    z-index: -2;
}

.card-information {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.card__title {
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    font-size: 18px;
}

.card__text {
    font-size: 20px;
}

.look_more {
    display: block;
    margin-top: 30px;
    margin-left: 50px;
    text-decoration: underline;
    text-underline-offset: 0.25em;
    font-size: 20px;
}

.about {
    margin-bottom: 180px;
    margin-right: 24px;
    margin-left: 24px;
}

.about__column {
    display: grid;
    grid-template-columns: 240px 693px;
    grid-gap: 72px;
    justify-content: center;
}

.about__logo {
    justify-self: right;
    background-color: black;
    border-radius: 100rcap;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.about__logo-image {
    width: 148px;
    height: auto;
}

.about_information {
    margin-top: 133px;
    justify-self: left;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about_paragraph-one {
    width: 688px;
}

.section_auction_name {
    margin-bottom: 100px;
}

.footer {
    display: grid;
    margin-right: 50px;
    margin-left: 50px;
    grid-template-columns: 1fr 164px 1fr;
    margin-bottom: 82px;
}

.footer_address {
    text-underline-offset: 0.25em;
    line-height: 1.5;
    list-style: none;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    line-height: 1.5;
    list-style: none;
}

.footer__menu-list-item {
    text-align: center;
}

.footer__menu-link_active {
    text-underline-offset: 0.25em;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-self: end;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: auto;
}

