.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header_links-list{
    display: flex;
    gap: 32px;
}

.header_links-list-item {
    font-size: 18px;
    list-style: circle;
}

.header_links-list-item:first-child {
    list-style: none;
}

/*.header_links-list-item_no-bullit {
    list-style: none;
}*/

.header_link {
    border-bottom: 1px solid;
    text-decoration: none;
}

.header_link_active {
    border-bottom: none;
}

.header_logo {
    width: 148px;
}

.address {
    max-width: 240px;
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
}

.header_address {
    justify-self: end;
}

.address a {
    border-bottom: 1px solid;
    text-decoration: none;
}

.cover {
    position: relative;
    padding: 165px 50px 50px;
    background-image: url(../images/lotus-flower.svg);
    background-position: center;
    background-size: cover;
}

.cover_title {
    position: relative;
    z-index: 1;
    margin-bottom: 135px;
    color: #fff;
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 30%;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    margin-top: 20px;
    line-height: 1;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: initial;
}

.cover_description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
}

.cover_description-text {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
    justify-content: flex-end;
}

.lots {
    padding: 180px 50px 0;
}

.lots_heading {
    margin-bottom: 27px;
    padding: 0 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots_cards-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
    background-position: center;
    background-size: cover;
}

.card-title {
    z-index: 1;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
}

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    justify-content: space-between;
    gap: 25px;
    padding: 180px 50px;
    
}

.about_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: auto;
    border-radius: 50%;
    background-color: black;
}

.about_logo-image {
    width: 148px;
}

.about_title {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 40px;
    text-transform: uppercase;
}

.about_text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
}

.footer_menu-link {
    font-size: 18px;
    text-align: center;
    list-style: none;
    text-decoration: none;
    border-bottom: 1px solid;
}

.footer_menu-link_active {
    border-bottom: none;
}

.footer_social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
    list-style: none;
    flex-wrap: wrap;
}

.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 0 50px 90px;
}

.footer_menu-list-item {
    text-align: center;
}

.card_type_film {
    background-image: url(../images/photo.svg);
    
}

.card_type_book {
    background-image: url(../images/photo\ \(1\).svg);
}

.card_type_image {
    background-image: url(../images/photo\ \(2\).svg);
}

.lots_cards-list-item {
    width: 334px;
    height: 596px;
}

.lots_cards-list-item {
    list-style-type: none;
}

.overplay {
    position: absolute;
    inset: 0;
    background-color: 
       rgb(0 0 0/0.6);
}

/* место для вашего кода */
